#root {
  max-width: 317px;
  margin: 0 auto; /* Centers the element horizontally */
  /* padding: 2rem; */
  display: block; /* Ensures the margin:auto works */
  text-align: center;
  background-color: #1A1B21;
 
  border: 1px;
  border-radius: 8px;
}

.main-div img {
  border-radius: 8px;
  max-width: 100%; /* Image will scale to fit the width of its container */
}

.main-div h3 {
  font-family: "Inter", sans-serif;
  font-size: 25px;
  font-weight: bold;
}

.buttons {
  border: 1px solid;
  gap: 10px;
}



.button-flex {
  display: flex;
  justify-content: center;
  align-content: space-between;
  gap: 10px;
  
}

.linkedIn {
  display: flex;
  gap: 5px; 
  align-items: center;
  justify-content: center;
  align-content: space-between;
  width: 100px;
  border: 1px solid;
  border-color: black;
  background-color: #5093E2;
  color: 374151;
  border-radius: 8px;
  padding: 5px;
  color: white;
  font-size: 14px;
  height: 30px;

}

.linkedIn img {
  width: 20px;
  height: 20px;
  align-items: center;
  height: 20px;
}

.email {
  display: flex;
  gap: 5px; 
  align-items: center;
  justify-content: center;
  align-content: space-between;
  border: 1px solid;
  border-color: black;
  background-color: white;
  width: 100px;
  color: 374151;
  border-radius: 8px;
  padding: 5px;
  color: black;
  font-size: 14px;
  height: 30px;
}

.email img {
  width: 20px;
  height: 30px;
  align-items: center;
  height: 20px;
}

.text-1{
  margin: 10px;
}

.text-1 p {
  font-size: 13px;
}
.footer {
  background-color: #161619;
  display: flex;
  justify-content: space-between;
  padding: 25px;  
}